.footer {
  background-color: var(--dark-blue);
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem 0;
  color: #fff;
}

.head {
  font-weight: 500;
  color: var(--greyish-blue);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 1rem 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fbIcon,
.twitterIcon {
  margin: 1rem;
}
