.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  margin-top: 2rem;
}

.infoBox {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.head {
  padding: 2rem 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-blue);
  text-transform: capitalize;
}

.details {
  line-height: 1.5;
  font-size: 1rem;
  padding: 1rem;
  word-spacing: 2px;
  color: var(--greyish-blue);
}

.heroBtn {
  display: flex;
  justify-content: center;
  gap: 5%;
}

@media (min-width: 1140px) {
  .details,
  .info,
  .head {
    text-align: left;
  }
  .head {
    font-size: 3rem;

    padding: 1rem 2rem 1rem 0;
  }

  .details {
    padding: 1.5rem 0;
    line-height: 1.8;
    font-size: 1.2rem;
  }

  .heroBtn {
    display: flex;
    justify-content: flex-start;
  }
}

/* .heroSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 2rem;
}

.heroInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
  padding: 3rem 4rem;
  margin-top: 2rem;
}
.heroHeading {
  font-weight: 500;
  color: var(--dark-blue);
  text-transform: capitalize;
  padding: 0 0 2rem;
  font-size: 2rem;
  line-height: 1.2;
}
.heroDetails {
  width: 320px;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0 0 3rem;
  word-spacing: 2px;
  color: var(--greyish-blue);
}
.heroBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.heroImage {
  flex-basis: 600px;
}

@media (min-width: 1040px) {
  .heroSection {
    justify-content: space-around;
    padding: 0 3rem;
  }
  .heroInfo {
    text-align: center;
  }
  .heroHeading {
    padding: 0 2rem 0rem 0;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.2;
  }
  .heroBtn {
    display: flex;
    justify-content: center;
  }

  .heroDetails {
    font-size: 1.1rem;
    line-height: 1.9;
    width: 480px;
    padding: 2rem 0 2rem;
  }

  .heroImage {
    margin-left: 5rem;
  }
}

@media (min-width: 1380px) {
  .heroDetails,
  .heroInfo {
    text-align: left;
  }

  .heroBtn {
    display: flex;
    justify-content: flex-start;
  }
} */
