.heroSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  /* align-items: center; */
  margin-top: 2rem;
}

.heroInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
  padding: 1rem 4rem;
  margin-top: 2rem;
}
.heroHeading {
  font-weight: 500;
  color: var(--dark-blue);
  text-transform: capitalize;
  padding: 0 0 1rem;
  font-size: 2rem;
  line-height: 1.2;
}
.heroDetails {
  /* border: 1px solid rgb(155, 193, 226); */
  width: 320px;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0 0 3rem;
  word-spacing: 2px;
  color: var(--greyish-blue);
}
.heroBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.heroImage {
  flex-basis: 600px;
}

@media (min-width: 1040px) {
  .heroSection {
    justify-content: space-around;
    padding: 0 3rem;
  }
  .heroInfo {
    text-align: center;
    /* padding: 1rem 8rem; */
  }
  .heroHeading {
    padding: 0 2rem 0rem 0;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.2;
  }
  .heroBtn {
    display: flex;
    justify-content: center;
  }

  .heroDetails {
    /* text-align: center; */
    font-size: 1.1rem;
    line-height: 1.7;
    width: 480px;
    padding: 0 0 2rem;
  }

  .heroImage {
    margin-left: 5rem;
    /* flex-basis: 600px; */
  }
}

@media (min-width: 1380px) {
  .heroDetails,
  .heroInfo {
    text-align: left;
  }

  .heroBtn {
    display: flex;
    justify-content: flex-start;
  }
}
