.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Rubik, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.heroSection,
.sectionTwo,
.sectionThree,
.sectionFour,
.cardSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
}

.imgBox {
  margin-top: 3rem;
  position: relative;
  /* z-index: 10; */
}
/* .imgBox::after {
  z-index: -1;
  position: absolute;
  content: '';
  background: var(--soft-blue);
  width: 90%;
  height: 75%;
  border-bottom-left-radius: 45%;
  bottom: 0;
  right: -120px;
} */

.head {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 1rem;
  line-height: 1.5;
  color: var(--dark-blue);
}
.headTwo {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem 0 1rem;
  color: var(--dark-blue);
}

.heroInfo {
  color: var(--greyish-blue);
  padding: 0 2.5rem 1rem;
  line-height: 1.5;
}

.infoTwo {
  color: var(--greyish-blue);
  padding: 0 1.5rem 1rem;
  line-height: 1.5;
}

.features {
  margin: 10rem 0 3rem;
}

.featuresHead {
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 1.4rem;
  margin: 1rem;
}

.featuresDetails {
  color: var(--greyish-blue);
  text-align: center;
  margin: 0 1.5rem;
  padding: 0 0 3rem;
  line-height: 1.6;
  border-bottom: 2px solid rgb(204, 201, 201);
}

.featureOne,
.featureTwo,
.featureThree {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0 1.5rem;
  color: var(--greyish-blue);
  border-bottom: 2px solid rgb(204, 201, 201);
  position: relative;
}

.featureOne::after,
.featureTwo::after,
.featureThree::after {
  content: '';
  position: absolute;
  background-color: var(--soft-red);
  width: 45%;
  height: 4px;
  left: 28%;
  bottom: 0;
  border-radius: 5px;
  display: none;
  transition: all 0.3s;
}

.featureOne:hover::after,
.featureTwo:hover::after,
.featureThree:hover::after {
  transition: all 0.3s;
  display: block;
}

.featureOne:hover,
.featureTwo:hover,
.featureThree:hover {
  font-weight: 500;
  color: var(--dark-blue);
}

.imgBoxTwo {
  margin-top: 3rem;
  width: 320px;
  height: 320px;
}

.headThree {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 5rem 0 1rem;
  color: var(--dark-blue);
  margin-top: 5rem;
}

.infoThree {
  color: var(--greyish-blue);
  padding: 0 1.5rem 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.headFour {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 5rem 2rem 1rem;
  color: var(--dark-blue);
  margin-top: 3rem;
}

.infoFour {
  color: var(--greyish-blue);
  padding: 0 1rem 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.faqSection {
  display: flex;
  flex-direction: column;
}
