* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  background-image: linear-gradient(
      0deg,
      rgba(31, 40, 51, 0.8),
      rgba(31, 40, 51, 0.8)
    ),
    url('../public/assets/home/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  /* Colors */
  /* Home */
  --bgcolor1: #0b0c10;
  --bgcolor2: #1f2833;
  --font-color: #c5c6c7;
  --heading: #66fcf1;
  --btn-color: #45a29e;

  /* Booking Landing */
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --greyish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);

  /* Intro section w/dropdown */
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  /* Room homepage Design */
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);

  /* Url Shortening */
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

