.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 1rem 1rem;
}

.head {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 2rem 1rem 1.5rem;
  text-transform: capitalize;
  color: var(--dark-blue);
}

.info {
  padding: 1rem 1rem 3rem;
  line-height: 1.7;
  color: var(--greyish-blue);
}
